<!-- Footer -->
<div class="tm-footer">
  <div class="tm-footer-toparea tm-padding-section" data-bgimage="../../assets/images/footer-area-bg.jpg"
       data-black-overlay="9">
    <div class="container">
      <div class="widgets widgets-footer row">

        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-info">
            <a class="widget-info-logo" href="index.html"><img src="../../assets/images/logo-white.png"
                                                               alt="white logo"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis orci ac
              odio dictum tincidunt. Donec ut metus leo auctor id faucibus.</p>
            <ul>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
              <li><a href="#"><i class="ion-social-skype-outline"></i></a></li>
              <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
            </ul>
          </div>
        </div>
        <!--// Single Widget -->

        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-contact">
            <h6 class="widget-title">Contact Us</h6>
            <ul>
              <li>
                <i class="ion-ios-telephone-outline"></i>
                <p><a href="tel:+18009156270">1 (800) 915 6270</a></p>
                <p><a href="tel:+18009156271">1 (800) 915 6271</a></p>
              </li>
              <li>
                <i class="ion-ios-email-outline"></i>
                <p><a href="mailto:">support@malicfishing.com</a></p>
                <p><a href="#:">Skype: malicfishing</a></p>
              </li>
              <li>
                <i class="ion-ios-location-outline"></i>
                <p>2726 Avenue Papineau Montreal, QC, Canada</p>
              </li>
            </ul>
          </div>
        </div>
        <!--// Single Widget -->

        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-twitterfeed">
            <h6 class="widget-title">Twitter</h6>
            <ul>
              <li>
                <h6><a href="#"><i class="ion-social-twitter-outline"></i> A fishing vessel
                  is a boat or ship used to catch fish in the
                  sea.</a></h6>
                <span>3 hours ago</span>
              </li>
              <li>
                <h6><a href="#"><i class="ion-social-twitter-outline"></i> A fishing vessel
                  is a boat or ship used to catch fish in the
                  sea.</a></h6>
                <span>5 days ago</span>
              </li>
            </ul>
          </div>
        </div>
        <!--// Single Widget -->

        <!-- Single Widget -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-widget widget-instagram">
            <h6 class="widget-title">Instagram</h6>
            <ul id="instafeed" class="widget-instagram-photos"></ul>
          </div>
        </div>
        <!--// Single Widget -->

      </div>
    </div>
  </div>

  <div class="tm-footer-bottomarea bg-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <p class="tm-footer-copyright">Powered By <a href="https://thememarch.com/">ThemeMarch</a> ©
            2019</p>
        </div>
        <div class="col-md-5">
          <div class="tm-footer-payment">
            <img src="../../assets/images/payment-methods.png" alt="payment methods">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// Footer -->
