<div id="wrapper" class="wrapper">
<app-header></app-header>
  <div class="tm-heroslider-area bg-grey">
  <div class="tm-preloader">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="tm-preloader-logo">
          <img src="assets/images/logo-white.png" alt="logo">
        </div>
        <span class="tm-preloader-progress"></span>
      </div>
    </div>
  </div>
  <button class="tm-button tm-button-small">Cancel Preloader</button>
</div>
<!--// Preloader -->

<main class="page-content">

  <!-- Features Area -->
  <div class="tm-section tm-feature-area tm-padding-section bg-white"
       data-bgimage="../assets/images/feature-image.png" data-white-overlay="8">
    <div class="container">
      <div class="row justify-content-end mt-30-reverse">

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-30">
          <div class="tm-feature text-center tm-scrollanim">
                                <span class="tm-feature-icon">
                                    <img src="../assets/images/icons/icon-feature-1.png" alt="feature icon">
                                </span>
            <div class="tm-feature-content">
              <h6>Ice Fishing</h6>
              <p>Ice fishing is the practice of catching fish with lines and fish hooks or spears
                through</p>
            </div>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-30">
          <div class="tm-feature text-center tm-scrollanim">
                                <span class="tm-feature-icon">
                                    <img src="../assets/images/icons/icon-feature-2.png" alt="feature icon">
                                </span>
            <div class="tm-feature-content">
              <h6>Fly Fishing</h6>
              <p>Fly fishing can be thought of as a
                method of casting line rather
                than lure.</p>
            </div>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-30">
          <div class="tm-feature text-center tm-scrollanim">
                                <span class="tm-feature-icon">
                                    <img src="../assets/images/icons/icon-feature-3.png" alt="feature icon">
                                </span>
            <div class="tm-feature-content">
              <h6>Fishing Tips</h6>
              <p>We use different types of tips
                for fishing in the pond, sea
                or ice.</p>
            </div>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-30">
          <div class="tm-feature text-center tm-scrollanim">
                                <span class="tm-feature-icon">
                                    <img src="../assets/images/icons/icon-feature-4.png" alt="feature icon">
                                </span>
            <div class="tm-feature-content">
              <h6>Boat Fishing</h6>
              <p>Boat fishing is fishing from a boat
                in easy sight of land and in
                water.</p>
            </div>
          </div>
        </div>
        <!--// Single Feature -->

      </div>
    </div>
  </div>
  <!--// Features Area -->

  <!-- About Area -->
  <section id="tm-about-area" class="tm-section tm-about-area tm-padding-section-bottom bg-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-12 order-2 order-lg-1">
          <div class="tm-about-content tm-scrollanim">
            <h6>About</h6>
            <h3>Fishing techniques are methods for catching fish</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl, at
              aliquam dolor. Morbi in iaculis nunc. Nulla eu mi at velit imperdiet sollicitudin
              sed vel risus. It is a long established fact that a reader will be distracted.</p>
            <p>Cras a convallis nisl, at aliquam dolor. Morbi in iaculis nunc. Nulla eumiat velit
              imperdiet sollicitudin sed vel risus. </p>
            <ul class="stylish-list-color">
              <li><i class="ion-android-checkmark-circle"></i> One of the reasons why people use
                Lorem Ipsum is because it adjusts very well in
                <i class="ion-android-checkmark-circle"></i> every ocasion.</li>
              <li><i class="ion-android-checkmark-circle"></i> Quisque eleifend lorem ipsum, et
                tempus nulla convallis nec.</li>
              <li><i class="ion-android-checkmark-circle"></i> Suspendisse tempus consequat odio,
                quis tempus augue vulputate at.</li>
            </ul>
            <a href="#" class="tm-button">Read more</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-8 col-12 order-1 order-lg-2">
          <div class="tm-about-image tm-scrollanim">
            <img src="../assets/images/about-image.png" alt="about image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--// About Area -->

  <!-- Service Area -->
  <div id="tm-service-area" class="tm-section tm-service-area tm-padding-section-bottom bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-12">
          <div class="tm-sectiontitle text-center">
            <h2>Our Services</h2>
            <span class="tm-sectiontitle-divider">
                                    <img src="../assets/images/icons/icon-divider-img.png" alt="section divider">
                                </span>
            <p>Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of
              your website or app where content is not the main concern of the developer.</p>
          </div>
        </div>
      </div>
      <div class="row mt-30-reverse">

        <!-- Single Service -->
        <div class="col-lg-4 col-md-6 col-12 mt-30">
          <div class="tm-service text-center tm-scrollanim">
            <div class="tm-service-inner">
              <div class="tm-service-frontside" data-bgimage="../assets/images/service-image-1.jpg">
                <h6>Fishing Competitions</h6>
              </div>
              <div class="tm-service-backside">
                <h6><a href="service-details.html">Fishing Competitions</a></h6>
                <p>A fishing vessel is a boat or ship used to catch fish in the sea. Fishing
                  boats
                  vary widely in style partly to match local conditions.</p>
                <a href="service-details.html" class="tm-readmore">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--// Single Service -->

        <!-- Single Service -->
        <div class="col-lg-4 col-md-6 col-12 mt-30">
          <div class="tm-service text-center tm-scrollanim">
            <div class="tm-service-inner">
              <div class="tm-service-frontside" data-bgimage="../assets/images/service-image-2.jpg">
                <h6>Fishing Equipments</h6>
              </div>
              <div class="tm-service-backside">
                <h6><a href="service-details.html">Fishing Equipments</a></h6>
                <p>A fishing vessel is a boat or ship used to catch fish in the sea. Fishing
                  boats
                  vary widely in style partly to match local conditions.</p>
                <a href="service-details.html" class="tm-readmore">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--// Single Service -->

        <!-- Single Service -->
        <div class="col-lg-4 col-md-6 col-12 mt-30">
          <div class="tm-service text-center tm-scrollanim">
            <div class="tm-service-inner">
              <div class="tm-service-frontside" data-bgimage="../assets/images/service-image-3.jpg">
                <h6>Fishing Guidence</h6>
              </div>
              <div class="tm-service-backside">
                <h6><a href="service-details.html">Fishing Guidence</a></h6>
                <p>A fishing vessel is a boat or ship used to catch fish in the sea. Fishing
                  boats
                  vary widely in style partly to match local conditions.</p>
                <a href="service-details.html" class="tm-readmore">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--// Single Service -->

        <!-- Single Service -->
        <div class="col-lg-4 col-md-6 col-12 mt-30">
          <div class="tm-service text-center tm-scrollanim">
            <div class="tm-service-inner">
              <div class="tm-service-frontside" data-bgimage="../assets/images/service-image-4.jpg">
                <h6>Fishing Tour</h6>
              </div>
              <div class="tm-service-backside">
                <h6><a href="service-details.html">Fishing Tour</a></h6>
                <p>A fishing vessel is a boat or ship used to catch fish in the sea. Fishing
                  boats
                  vary widely in style partly to match local conditions.</p>
                <a href="service-details.html" class="tm-readmore">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--// Single Service -->

        <!-- Single Service -->
        <div class="col-lg-4 col-md-6 col-12 mt-30">
          <div class="tm-service text-center tm-scrollanim">
            <div class="tm-service-inner">
              <div class="tm-service-frontside" data-bgimage="../assets/images/service-image-5.jpg">
                <h6>Fishing Deals</h6>
              </div>
              <div class="tm-service-backside">
                <h6><a href="service-details.html">Fishing Deals</a></h6>
                <p>A fishing vessel is a boat or ship used to catch fish in the sea. Fishing
                  boats
                  vary widely in style partly to match local conditions.</p>
                <a href="service-details.html" class="tm-readmore">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--// Single Service -->

        <!-- Single Service -->
        <div class="col-lg-4 col-md-6 col-12 mt-30">
          <div class="tm-service text-center tm-scrollanim">
            <div class="tm-service-inner">
              <div class="tm-service-frontside" data-bgimage="../assets/images/service-image-6.jpg">
                <h6>Fishing Boats</h6>
              </div>
              <div class="tm-service-backside">
                <h6><a href="service-details.html">Fishing Boats</a></h6>
                <p>A fishing vessel is a boat or ship used to catch fish in the sea. Fishing
                  boats
                  vary widely in style partly to match local conditions.</p>
                <a href="service-details.html" class="tm-readmore">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!--// Single Service -->

      </div>
    </div>
  </div>
  <!--// Service Area -->

  <!-- Testimonial Area -->
  <div class="tm-section tm-testimonial-area tm-padding-section-bottom bg-white bg-pattern-transparent">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-12">
          <div class="tm-sectiontitle text-center">
            <h2>Feedback From our Clients</h2>
            <span class="tm-sectiontitle-divider">
                                    <img src="../assets/images/icons/icon-divider-img.png" alt="section divider">
                                </span>
            <p>Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of
              your website or app where content is not the main concern of the developer.</p>
          </div>
        </div>
      </div>
      <div class="row tm-testimonial-slider">

        <!-- Single Testimonial -->
        <div class="col-lg-6">
          <div class="tm-testimonial tm-scrollanim">
            <div class="tm-testimonial-top">
              <div class="tm-testimonial-author">
                <div class="tm-testimonial-image">
                  <img src="../assets/images/author-image-1.png" alt="author image">
                </div>
                <div class="tm-testimonial-authorcontent">
                  <h6>James M. Rogers</h6>
                  <p>Happy customer</p>
                </div>
              </div>
              <div class="tm-testimonial-ratings">
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl, at
              aliquam dolor. Morbi in iaculis nunc. Nulla eu mi at velit imperdiet sollicitudin
              sed vel risus. Quisque eleifend lorem ipsum.</p>
          </div>
        </div>
        <!--// Single Testimonial -->

        <!-- Single Testimonial -->
        <div class="col-lg-6">
          <div class="tm-testimonial tm-scrollanim">
            <div class="tm-testimonial-top">
              <div class="tm-testimonial-author">
                <div class="tm-testimonial-image">
                  <img src="../assets/images/author-image-2.png" alt="author image">
                </div>
                <div class="tm-testimonial-authorcontent">
                  <h6>Richard McDonald</h6>
                  <p>Happy customer</p>
                </div>
              </div>
              <div class="tm-testimonial-ratings">
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl, at
              aliquam dolor. Morbi in iaculis nunc. Nulla eu mi at velit imperdiet sollicitudin
              sed vel risus. Quisque eleifend lorem ipsum.</p>
          </div>
        </div>
        <!--// Single Testimonial -->

        <!-- Single Testimonial -->
        <div class="col-lg-6">
          <div class="tm-testimonial">
            <div class="tm-testimonial-top">
              <div class="tm-testimonial-author">
                <div class="tm-testimonial-image">
                  <img src="../assets/images/author-image-1.png" alt="author image">
                </div>
                <div class="tm-testimonial-authorcontent">
                  <h6>James M. Rogers</h6>
                  <p>Happy customer</p>
                </div>
              </div>
              <div class="tm-testimonial-ratings">
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl, at
              aliquam dolor. Morbi in iaculis nunc. Nulla eu mi at velit imperdiet sollicitudin
              sed vel risus. Quisque eleifend lorem ipsum.</p>
          </div>
        </div>
        <!--// Single Testimonial -->

        <!-- Single Testimonial -->
        <div class="col-lg-6">
          <div class="tm-testimonial">
            <div class="tm-testimonial-top">
              <div class="tm-testimonial-author">
                <div class="tm-testimonial-image">
                  <img src="../assets/images/author-image-2.png" alt="author image">
                </div>
                <div class="tm-testimonial-authorcontent">
                  <h6>Richard McDonald</h6>
                  <p>Happy customer</p>
                </div>
              </div>
              <div class="tm-testimonial-ratings">
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
                <span class="active"><i class="ion-android-star"></i></span>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl, at
              aliquam dolor. Morbi in iaculis nunc. Nulla eu mi at velit imperdiet sollicitudin
              sed vel risus. Quisque eleifend lorem ipsum.</p>
          </div>
        </div>
        <!--// Single Testimonial -->

      </div>
    </div>
  </div>
  <!--// Testimonial Area -->

  <!-- Products Area -->
  <div id="tm-shop-area" class="tm-section tm-products-area tm-padding-section bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-12">
          <div class="tm-sectiontitle text-center">
            <h2>Fishing Accessories</h2>
            <span class="tm-sectiontitle-divider">
                                    <img src="../assets/images/icons/icon-divider-img.png" alt="section divider">
                                </span>
            <p>Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of
              your website or app where content is not the main concern of the developer.</p>
          </div>
        </div>
      </div>
      <div class="row tm-products-slider">

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-1.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Wobbler</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price"><del>$499.50</del> $299.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-2.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Rods</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price">$69.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-3.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Reel</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price"><del>$99.50</del> $79.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-4.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Hook</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price">$29.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-1.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Wobbler</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price"><del>$499.50</del> $299.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-2.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Rods</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price">$69.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-3.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Reel</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price"><del>$99.50</del> $79.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

        <!-- Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="tm-product text-center tm-scrollanim">
            <div class="tm-product-topside">
              <img src="../assets/images/products/product-image-4.jpg" alt="product image">
              <ul class="tm-product-actions">
                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                <li><button data-fancybox data-src="#tm-product-quickview"><i
                  class="ion-eye"></i></button></li>
                <li><a href="#"><i class="ion-heart"></i></a></li>
              </ul>
            </div>
            <div class="tm-product-bottomside">
              <h6 class="tm-product-title"><a href="product-details.html">Fishing Hook</a></h6>
              <div class="tm-ratingbox">
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span class="is-active"><i class="ion-android-star"></i></span>
                <span><i class="ion-android-star"></i></span>
              </div>
              <span class="tm-product-price">$29.99</span>
            </div>
          </div>
        </div>
        <!--// Single Product -->

      </div>
    </div>
  </div>
  <!--// Products Area -->

  <!-- Offer Area -->
  <div class="tm-section tm-offer-area tm-padding-section-bottom bg-white">
    <div class="container">
      <div class="tm-offer tm-scrollanim" data-bgimage="../assets/images/offer-area-bg.jpg">
        <h6>Deal of the Week</h6>
        <h1><span>50%</span> off</h1>
        <div class="tm-countdown" data-countdown="2020/10/12"></div>
        <a href="#" class="tm-button">Shop now</a>
      </div>
    </div>
  </div>
  <!--// Offer Area -->

  <!-- Latest Blogs Area -->
  <div id="tm-news-area" class="tm-section tm-blog-area tm-padding-section-bottom bg-pattern-transparent">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-12">
          <div class="tm-sectiontitle text-center">
            <h2>Latest Blog</h2>
            <span class="tm-sectiontitle-divider">
                                    <img src="../assets/images/icons/icon-divider-img.png" alt="section divider">
                                </span>
            <p>Lorem Ipsum is a latin placeholder text commonly used to fulfill certain areas of
              your website or app where content is not the main concern of the developer.</p>
          </div>
        </div>
      </div>
      <div class="row tm-blog-slider">

        <!-- Blog Single Item -->
        <div class="col-lg-4">
          <div class="tm-blog tm-scrollanim">
            <div class="tm-blog-topside">
              <div class="tm-blog-thumb">
                <img src="../assets/images/blog/blog-image-1.jpg" alt="blog image">
              </div>
              <a href="#" class="tm-blog-metahighlight"><i class="ion-chatbubbles"></i> 3
                Comments</a>
            </div>
            <div class="tm-blog-content">
              <h6 class="tm-blog-title"><a href="blog-details.html">A fishing vessel is a boat or ship used to
                catch fish in the sea</a></h6>
              <ul class="tm-blog-meta">
                <li><a href="#"><i class="ion-android-person"></i> Jennifer Muir</a></li>
                <li><i class="ion-android-calendar"></i> March 06, 2019</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl,
                at aliquam dolor. Morbi in iaculis nunc nulla velit imperdiet sollicitudin.</p>
              <a href="#" class="tm-readmore">Read more</a>
            </div>
          </div>
        </div>
        <!--// Blog Single Item -->

        <!-- Blog Single Item -->
        <div class="col-lg-4">
          <div class="tm-blog tm-scrollanim">
            <div class="tm-blog-topside">
              <div class="tm-blog-thumb">
                <img src="../assets/images/blog/blog-image-2.jpg" alt="blog image">
              </div>
              <a href="#" class="tm-blog-metahighlight"><i class="ion-chatbubbles"></i> 3
                Comments</a>
            </div>
            <div class="tm-blog-content">
              <h6 class="tm-blog-title"><a href="blog-details.html">A fishing reel is a cylindrical device
                attached to a fishing rod.</a></h6>
              <ul class="tm-blog-meta">
                <li><a href="#"><i class="ion-android-person"></i> Jennifer Muir</a></li>
                <li><i class="ion-android-calendar"></i> March 06, 2019</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl,
                at aliquam dolor. Morbi in iaculis nunc nulla velit imperdiet sollicitudin.</p>
              <a href="#" class="tm-readmore">Read more</a>
            </div>
          </div>
        </div>
        <!--// Blog Single Item -->

        <!-- Blog Single Item -->
        <div class="col-lg-4">
          <div class="tm-blog tm-scrollanim">
            <div class="tm-blog-topside">
              <div class="tm-blog-thumb">
                <img src="../assets/images/blog/blog-image-3.jpg" alt="blog image">
              </div>
              <a href="#" class="tm-blog-metahighlight"><i class="ion-chatbubbles"></i> 3
                Comments</a>
            </div>
            <div class="tm-blog-content">
              <h6 class="tm-blog-title"><a href="blog-details.html">Ice fishing can be done at any time. Ice
                fishing gear is highly specialized.</a></h6>
              <ul class="tm-blog-meta">
                <li><a href="#"><i class="ion-android-person"></i> Jennifer Muir</a></li>
                <li><i class="ion-android-calendar"></i> March 06, 2019</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl,
                at aliquam dolor. Morbi in iaculis nunc nulla velit imperdiet sollicitudin.</p>
              <a href="#" class="tm-readmore">Read more</a>
            </div>
          </div>
        </div>
        <!--// Blog Single Item -->

        <!-- Blog Single Item -->
        <div class="col-lg-4">
          <div class="tm-blog tm-scrollanim">
            <div class="tm-blog-topside">
              <div class="tm-blog-thumb">
                <img src="../assets/images/blog/blog-image-1.jpg" alt="blog image">
              </div>
              <a href="#" class="tm-blog-metahighlight"><i class="ion-chatbubbles"></i> 3
                Comments</a>
            </div>
            <div class="tm-blog-content">
              <h6 class="tm-blog-title"><a href="blog-details.html">A fishing vessel is a boat or ship used to
                catch fish in the sea</a></h6>
              <ul class="tm-blog-meta">
                <li><a href="#"><i class="ion-android-person"></i> Jennifer Muir</a></li>
                <li><i class="ion-android-calendar"></i> March 06, 2019</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl,
                at aliquam dolor. Morbi in iaculis nunc nulla velit imperdiet sollicitudin.</p>
              <a href="#" class="tm-readmore">Read more</a>
            </div>
          </div>
        </div>
        <!--// Blog Single Item -->

        <!-- Blog Single Item -->
        <div class="col-lg-4">
          <div class="tm-blog tm-scrollanim">
            <div class="tm-blog-topside">
              <div class="tm-blog-thumb">
                <img src="../assets/images/blog/blog-image-2.jpg" alt="blog image">
              </div>
              <a href="#" class="tm-blog-metahighlight"><i class="ion-chatbubbles"></i> 3
                Comments</a>
            </div>
            <div class="tm-blog-content">
              <h6 class="tm-blog-title"><a href="blog-details.html">A fishing reel is a cylindrical device
                attached to a fishing rod.</a></h6>
              <ul class="tm-blog-meta">
                <li><a href="#"><i class="ion-android-person"></i> Jennifer Muir</a></li>
                <li><i class="ion-android-calendar"></i> March 06, 2019</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl,
                at aliquam dolor. Morbi in iaculis nunc nulla velit imperdiet sollicitudin.</p>
              <a href="#" class="tm-readmore">Read more</a>
            </div>
          </div>
        </div>
        <!--// Blog Single Item -->

        <!-- Blog Single Item -->
        <div class="col-lg-4">
          <div class="tm-blog tm-scrollanim">
            <div class="tm-blog-topside">
              <div class="tm-blog-thumb">
                <img src="../assets/images/blog/blog-image-3.jpg" alt="blog image">
              </div>
              <a href="#" class="tm-blog-metahighlight"><i class="ion-chatbubbles"></i> 3
                Comments</a>
            </div>
            <div class="tm-blog-content">
              <h6 class="tm-blog-title"><a href="blog-details.html">Ice fishing can be done at any time. Ice
                fishing gear is highly specialized.</a></h6>
              <ul class="tm-blog-meta">
                <li><a href="#"><i class="ion-android-person"></i> Jennifer Muir</a></li>
                <li><i class="ion-android-calendar"></i> March 06, 2019</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a convallis nisl,
                at aliquam dolor. Morbi in iaculis nunc nulla velit imperdiet sollicitudin.</p>
              <a href="#" class="tm-readmore">Read more</a>
            </div>
          </div>
        </div>
        <!--// Blog Single Item -->

      </div>
    </div>
  </div>
  <!--// Latest Blogs Area -->

  <!-- Brand Logos -->
  <div class="tm-section tm-brandlogo-area tm-padding-section bg-white">
    <div class="container">
      <div class="tm-brandlogo-slider">

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-1.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-2.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-3.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-4.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-5.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-1.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-2.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-3.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-4.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

        <!-- Brang Logo Single -->
        <div class="tm-brandlogo">
          <a href="#">
            <img src="../assets/images/brand-logo-5.png" alt="brand-logo">
          </a>
        </div>
        <!--// Brang Logo Single -->

      </div>
    </div>
  </div>
  <!--// Brand Logos -->

  <!-- Newsletter Area -->
  <div class="tm-newsletter-area tm-section tm-padding-section bg-pattern">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-12">
          <h4 class="tm-newsletter-title">Subscribe Newsletter</h4>
        </div>
        <div class="col-xl-6 col-lg-8 col-md-7 col-12">
          <form id="tm-mailchimp-form" class="tm-newsletter-form">
            <input id="mc-email" type="email" placeholder="Email address...">
            <button id="mc-submit" type="submit" class="tm-button">Subscribe</button>
          </form>
          <!-- Mailchimp Alerts -->
          <div class="tm-mailchimp-alerts">
            <div class="tm-mailchimp-submitting"></div>
            <div class="mailchimp-success"></div>
            <div class="tm-mailchimp-error"></div>
          </div>
          <!--// Mailchimp Alerts -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5 col-12">
          <div class="tm-newsletter-call">
            <p>Call Any Question?</p>
            <h3><a href="tel:+18009156270">1-800-915-6270</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Newsletter Area -->

</main>
<app-footer></app-footer>
</div>
